{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% include 'pages/head_links.html' %}
  </head>
  <body>
    <div class="page_loader"></div>

    {% include 'includes/topbar.html' %} {% include 'includes/navbar.html' %}
    {%block content %} {% endblock %} {% include 'includes/footer.html' %}
    <!-- Full Page Search -->
    <div id="full-page-search">
      <button type="button" class="close">×</button>
      <form action="{% url 'search' %}" class="search-header">
        <input
          type="search"
          value=""
          placeholder="想預定什麼樣的車款呢?wombat?mauii?"
          name="keyword"
        />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
      </form>
    </div>
    {%include 'pages/body_scripts.html' %}
  </body>
</html>
